torch==2.7.0
coremltools==9.0b1
datasets
torchcodec
librosa 
matplotlib 
soundfile 
argparse
numba
numpy
torch
tqdm
more-itertools
tiktoken
triton>=2.0.0;platform_machine=="x86_64" and sys_platform=="linux" or sys_platform=="linux2"